Collection framework used in this project:

In Graph:

ArrayList
LinkedList
Stack
HashMap

In Heap:

HashMap
ArrayList

Data Structures:

Array

HashMap

Linked List

Heap

Stack

Graph
